kagglehub
huggingface_hub
ipywidgets
hydra-core
tensorflow
tensorflow_datasets
tensorboardX
transformers
grain
git+https://github.com/google/tunix.git --no-deps
git+https://github.com/google/qwix.git --no-deps
git+https://github.com/google/flax.git#egg=flax
datasets
sympy
pylatexenc
